{% extends "layoutbase.html" %}

{% block title %} Author {% endblock %} 

<link rel="stylesheet" href="{{url_for('.static/assets', filename='style.css')}}">
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>About the author</h5>
                                </div>
                                <div class="card-block">
                                    <p>
                                        We are two young men, spending the majority of time on work being management consultants, but still wanted to win in our fantasy football leagues. We found oursleves spending way too much time on finding the right team for the coming round. 
                                        <br><br>
                                        Using our quantative background in economics and statistics, we developed an algorithm to solve the weekly task. After a season where we both managed to win our league, spending only a few minutes on finding the right team, we agreed to share this with the public. 
                                        <br><br>
                                        We ended up spending a lot of time on this project, as it intersects with two things we love, statistics and fantasy football. 
                                        <br><br>
                                        With this site, we hope to demonstrate the relevance of statics for improving your performance in fantasy football. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}