{% extends "layoutbase.html" %}

{% block title %} Dashboard {% endblock %} 

<link rel="stylesheet" href="{{url_for('.static/assets', filename='style.css')}}">
<style>
    form {
    width:100%;
    height:100px;
    margin:auto;
    position:relative;
    }
     input {
    width:100%;
    height: 20px;
     }
</style> 
input[type="checkbox"] {
    vertical-align: middle;
    }

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<form action="/Adjustoptimization" method="POST">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ daily sales section ] start-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card daily-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Unused Budget</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center m-b-0">$ {{Budget}}</h3>
                                        </div>

                                        <div class="col-3 text-right">
                                            <p class="m-b-0">{{ nShare }}% used</p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ nShare }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ daily sales section ] end-->
                        <!--[ Monthly  sales section ] starts-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card Monthly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Transfer costs</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>{{TransferCost}}</h3>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Monthly  sales section ] end-->
                        <!--[ year  sales section ] starts-->
                        <div class="col-md-12 col-xl-4">
                            <div class="card yearly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Total Expected Points in coming round</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{Expected_points}}</h3>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ year  sales section ] end-->
                        <div class="col-xl-8 col-md-12 m-b-30">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Players To Sell</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Players To Buy</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>                                              
                                                <th>Player</th>
                                                <th>Team</th>
                                                <th>Position</th>
                                                <th>Points in coming round</th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% set count = namespace(value=1) %}
                                                {% for each in sell_list %} 
                                                <td>
                                                    <h6 class="m-0">{{ each }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ sell_list_team[count.value-1] }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ sell_list_position[count.value-1] }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ sell_list_xPoints[count.value-1] }}</h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                                            </tr>
                                                {% set count.value = count.value + 1 %}
                                                {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Player</th>
                                                <th>Team</th>
                                                <th>Position</th>
                                                <th>Points in coming round</th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% set count = namespace(value=1) %}
                                                {% for each in buy_list %} 
                                                <td>
                                                    <h6 class="m-0">{{ each }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ buy_list_team[count.value-1] }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ buy_list_position[count.value-1] }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ buy_list_xPoints[count.value-1] }}</h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                                            </tr>                                               
                                                {% set count.value = count.value + 1 %}
                                                {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Updated team </h5>
                                    <p class="m-0"><em>Checked players/teams is excluded from lineup optimizer</em></p>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                          <thead>
                                            <tr>
                                              <th scope="col">Player</th>
                                              <th scope="col">Team</th>
                                              <th scope="col">Position</th>
                                              <th scope="col">Points in coming round</th>
                                            </tr>
                                          </thead>
                                            <tbody>
                                              {% set count = namespace(value=1) %}
                                                  {% for each in Squad %}                    
                                                <tr class="unread">

                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" name="mycheckbox" class="form-check-input" value={{ count.value }}>    
                                                            <input type="hidden" name="Name" value='{{ each }}'>
                                                            {{ each }}
                                                            <p class="m-0">{{ Squad_Captain[count.value-1] }}</p>
                                                        
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" name="mycheckboxteam" class="form-check-input" value={{ count.value }}>    
                                                            <input type="hidden" name="Team" value='{{ Squad_Team[count.value-1] }}'>
                                                            {{ Squad_Team[count.value-1] }}                                      
                                                        </div>
                                                    </td> 
                                                    <td>
                                                        <h6 class="mb-1">{{ Squad_Position[count.value-1] }}</h6>                                                    
                                                    </td>                                                   
                                                    <td>
                                                        <h6 class="mb-1">{{ Squad_xPoints[count.value-1] }}</h6>                                                    
                                                    </td>   
                                                       {% set count.value = count.value + 1 %}
                                                       {% endfor %} 
                                                        
                                                </tr>

                                            </tbody>
                                        </table>
                                        <input type="submit" class="btn btn-primary" value="Run lineup optimization with updated constraints"  btn-lg>
                                        </form>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                        <!-- [ statistics year chart ] start -->
                        <div class="col-xl-4 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Players excluded from lineup optimizer</h5>
                                </div>
                                    <div class="card-block px-0 py-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Player</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% set count = namespace(value=1) %}
                                                {% for each in ExcludePlayers %}          
                                                    <tr>
                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="mycheckboxExcludePLayer" class="form-check-input" value={{ count.value }}  checked>
                                                                <label class="form-check-label" for="customCheck1"> {{ count.value }} </label>
                                                            </div>
                                                        </td>
                                                        <td> <input type="hidden" name="ExcludedPlayers" value='{{ each }}'> {{ each }} </td>
                                                {% set count.value = count.value + 1 %}
                                                {% endfor %} 
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="card Recent-Users">
                                    <div class="card-header">
                                        <h5>Teams excluded from lineup optimizer</h5>
                                    </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Team</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% set count = namespace(value=1) %}
                                                        {% for each in ExcludeTeam %}
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" name="mycheckboxExcludedTeams" class="form-check-input" value={{ count.value }}  checked>
                                                                    <label class="form-check-label" for="customCheck1"> {{ count.value }} </label>
                                                                </div>
                                                            </td>
                                                            <td> <input type="hidden" name="ExcludedTeams" value='{{ each }}'> {{ each }} </td>
                                                        {% set count.value = count.value + 1 %}
                                                        {% endfor %} 
                                                        </tr>   
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>                    
                                <div class="card Recent-Users">
                                    <div class="card-header">
                                        <h5>Force players in future lineup</h5>
                                    </div>
                                    <div class="card-block px-0 py-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="form-check-label" for="customCheck1"> Player1 </label>
                                                        </td>
                                                        <td> 
                                                            <div class="form-group" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                                {{ form.Player1IN(class="form-control")}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="form-check-label" for="customCheck1"> Player2 </label>
                                                        </td>
                                                        <td> 
                                                            <div class="form-group" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                                {{ form.Player2IN(class="form-control")}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="form-check-label" for="customCheck1"> Player3 </label>
                                                        </td>
                                                        <td> 
                                                            <div class="form-group" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                                {{ form.Player3IN(class="form-control")}}
                                                            </div>
                                                        </td>
                                                    </tr> 
                                                    </div>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ statistics year chart ] end -->
                        <form action="/teamupdated" method="POST">
                            {% for each in Squad %}
                              <input type="hidden" name="Name" value='{{ each }}'>
                           {% endfor %} 
                           <input type="hidden" name="Budget" value='{{ Budget }}'>
                              <input type="submit" class="btn btn-primary" value="Save lineup to Dashboard" btn-lg>
                        </form>
                    </form> 
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  
{% endblock javascripts %}     