{% extends "layoutbase.html" %}

{% block title %} Dashboard {% endblock %} 
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}
{% block content %}
<form action="/Viewlist/">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-16 col-md-12">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Top 100 expected growth</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                          <tbody>
                                                  <thead>
                                                    <tr>
                                                  <th>#</th>
                                                  <th>Name</th>
                                                  <th>Team</th>
                                                  <th>Cost</th>
                                                  
                                                  <th>Points round {{current_round}}</th>
                             
                                                  <th>Points/Cost<span>&#8595;</span></th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                
                                              {% set count = namespace(value=1) %}
                                              {% for each in Name %}
                                                <tr>
                                                <td> {{ count.value }} </td>
                                                <td> {{ each }} </td>
                                                <td> {{ Team1[count.value-1] }} </td>
                                                <td> {{ cost_players1[count.value-1] }} </td>
                                                  <td>{{ xPoints1[count.value-1] }}</td>
                                              
                                                  <td>{{ xGrowth1[count.value-1] }}</td>                                                  
                                                  {% set count.value = count.value + 1 %}
                                                  {% endfor %} 
                                                </tr>
                                                 </tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}                                        