{% extends "layoutbase.html" %}

{% block title %} Dashboard {% endblock %} 
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}
{% block content %}
<form action="/Viewlist/">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-xl-16 col-md-12">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Top 100 expected points</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                          <tbody>
                                                  <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Points round 1</th>
                                                        <th>Total Points (disc.)</th>
                                                        <th>Transfer cost</th>
                                                        <th>points incl. transfer <span>&#8595;</span></th>
                                                        <th>Point Growth </th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                
                                              {% set count = namespace(value=1) %}
                                              {% for each in Name %}
                                                <tr>
                                                <td> {{ count.value }} </td>
                                                          <td>
                                                              <input type="hidden" name="Name" value='{{ each }}'>
                                                              <h6 class="mb-1">{{ each }}</h6>
                                                              <p class="m-0">{{ Team1[count.value-1] }}</p>
                                                          </td>
                                                  <td>{{ xPoints1[count.value-1] }}</td>
                                                  <td>{{ xPointsTotal1[count.value-1] }}</td>
                                                  <td>{{ Transfer1[count.value-1] }}</td>
                                                  <td>{{ TotalPoints1[count.value-1] }}</td>
                                                  <td>{{ xGrowth1[count.value-1] }}%</td>                                                  
                                                  {% set count.value = count.value + 1 %}
                                                  {% endfor %} 
                                                </tr>
                                                 </tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}                                        